<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Quiz - Radhee</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.jpg' %}" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body onload="func()">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="">Radhee</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li class="dropdown"><a><span id="lang">Select Language</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a onclick="english()">English</a></li>
              <li><a onclick="hindi()">हिंदी</a></li>
              <li><a onclick="marathi()">मराठी</a></li>
            </ul>
          </li>
          <li><a href="https://radhee.com/contact-us/" target="_blank">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="https://pages.razorpay.com/radhee" target="_blank" class="get-started-btn scrollto">Donate</a>
    </div>
  </header><!-- End Header -->

  <main id="main">
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Quiz</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" style="color: black;">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3 id="eGShead">Good Samaritan</h3>
              <h3 id="hGShead" style="display: none;">गुड समरिटन</h3>
              <h3 id="mGShead" style="display: none;">जबाबदार नागरिक</h3>
              <p id="eGSDesc">
                At the site of an accident, a right and prompt help to the accident victim could save his/her life. It
                is found that citizens are not aware what they should do when they see the accident.
                We welcome you to take the quiz for updating your knowledge as a Good Samaritan to save the life of an
                accident victim. Saving a life is the biggest charity.
                Take the quiz and get certificate.
                The quiz is developed by RADHEE Disaster and Education Foundation, in collaboration with Maharashtra
                Police and Transport Department, Maharashtra </p>
              <p id="hGSDesc" style="display: none;">
                दुर्घटना स्थल पर, दुर्घटना पीड़ित के लिए सही और त्वरित मदद उसके जीवन को बचा सकती है। यह पाया गया है कि
                नागरिकों को पता ही नहीं है कि दुर्घटना को देखते ही उन्हें क्या करना चाहिए।
                एक दुर्घटना पीड़ित के जीवन को बचाने के लिए एक गुड समरिटन (जिम्मेदार दयालु नागरिक) के रूप में अपने ज्ञान
                को अद्यतन (अपडेट) करने के लिए क्विज (प्रश्नोत्तरी) में हिस्सा लेने हेतु हम आपका स्वागत करते हैं। जीवन
                बचाना सबसे बड़ा दान है।
                क्विज में भाग लें और प्रमाणपत्र प्राप्त करें।
                क्विज़ राधी डिज़ास्टर् और एजुकेशन फ़ाउंडेशन द्वारा महाराष्ट्र पुलिस और महाराष्ट्र ट्रांसपोर्ट विभाग के
                सहयोग से विकसित की गए गई हैं।
              </p>
              <p id="mGSDesc" style="display: none;">
                अपघाताच्या ठिकाणी असताना, अपघातग्रस्तासाठी त्वरित आणि अचूक मदत केल्यास अपघातग्रस्ताचे आयुष्य
                वाचू शकते. असे आढळून आले आहे की अपघात दिसताच नागरिकांनी काय करावे हे त्यांना माहित नसते.
                जबाबदार नागरिक म्हणून मदत कशी करावी याविषयी आपला समजूतदारपणा तपासण्यासाठी क्विझ (प्रश्नोत्तरी) सोडवावी.
                एकदा क्विझ पूर्ण झाल्यानंतर आपण आपला प्रश्न, प्रत्येक क्विझसाठी (प्रश्नोत्तरीसाठी) योग्य उत्तरे आणि
                स्पष्टीकरण वाचू शकता.
              </p>
              <div class="btn-wrap">
                <a id="eGSStart" href="{% url 'userinfo' %}" class="btn-buy">Start Quiz</a>
                <a style="display: none;" id="hGSStart" href="{% url 'userinfo' %}" class="btn-buy">क्विज़ शुरू करें</a>
                <a style="display: none;" id="mGSStart" href="{% url 'userinfo' %}" class="btn-buy">क्विझ प्रारंभ
                  करा</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" style="color: black;">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3 id="eFShead">Fire Safety</h3>
              <h3 id="hFShead" style="display: none;">अग्नि सुरक्षा</h3>
              <p id="eFSDesc">
                Fire is Safety measure makes the self, workplace and country Fire Resilient.
                Fire happens due to negligence. Be responsible to prevent fire.
                Right steps and Early response to extinguish fire help to reduce the impact of Fire
                Fire Safety Plan, Fire Safety Assessment, Training, Evacuation Plan and Mock drills are key steps to
                stay safe from Fire. It helps to prevent fire and if fire happens it helps to prevent damage of property
                and valuables
              <p id="hFSDesc" style="display: none;">
                अग्नि एक सुरक्षा उपाय है जो स्वयं, कार्यस्थल और देश को अग्नि प्रतिरोधी बनाता है।
                लापरवाही के कारण आग लगती है। आग को रोकने के लिए जिम्मेदार बनें।
                आग बुझाने के लिए सही कदम और प्रारंभिक प्रतिक्रिया आग के प्रभाव को कम करने में मदद करती है
                अग्नि सुरक्षा योजना, अग्नि सुरक्षा आकलन, प्रशिक्षण, निकासी योजना और मॉक ड्रिल आग से सुरक्षित रहने के लिए
                महत्वपूर्ण कदम हैं। यह आग को रोकने में मदद करता है और अगर आग लगती है तो यह संपत्ति और क़ीमती सामानों की
                क्षति को रोकने में मदद करती है
              </p>
              <div class="btn-wrap">
                <a id="eFSStart" href="{% url 'userinfofs' %}" class="btn-buy">Start Quiz</a>
                <a style="display: none;" id="hFSStart" href="{% url 'userinfofs' %}" class="btn-buy">क्विज़ शुरू
                  करें</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" style="color: black;">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3 id="eFAhead">First Aid</h3>
              <h3 id="hFAhead" style="display: none;">प्राथमिक चिकित्सा</h3>
              <p id="eFADesc">
                First Aid knowledge is essential for every adult. First aid is the first and immediate assistance given
                to any person suffering from either a minor or serious illness or injury, with care provided to preserve
                life, prevent the condition from worsening, or promote recovery.
                A team of doctors at RADHEE understands the importance of first aid, which is given in platinum 10
                minutes before an ambulance or doctor arrives. They have developed a quiz to improve your knowledge on
                first aid to help your near and dear ones at the time of distress.
              <p id="hFADesc" style="display: none;">
                प्रत्येक वयस्क के लिए प्राथमिक चिकित्सा ज्ञान आवश्यक है। प्राथमिक चिकित्सा एक मामूली या गंभीर बीमारी या
                चोट से पीड़ित किसी भी व्यक्ति को दी जाने वाली प्राथमिक और तत्काल सहायता है, जिसमें जीवन को संरक्षित
                करने, स्थिति को बिगड़ने से रोकने या ठीक होने को बढ़ावा देने के लिए देखभाल प्रदान की जाती है।
                राधे में डॉक्टरों की एक टीम प्राथमिक चिकित्सा के महत्व को समझती है, जो एम्बुलेंस या डॉक्टर के आने से 10
                मिनट पहले प्लेटिनम में दी जाती है। उन्होंने संकट के समय अपने निकट और प्रियजनों की मदद करने के लिए
                प्राथमिक चिकित्सा पर आपके ज्ञान को बेहतर बनाने के लिए एक प्रश्नोत्तरी विकसित की है।
              </p>
              <div class="btn-wrap">
                <a id="eFAStart" href="{% url 'userinfofa' %}" class="btn-buy">Start Quiz</a>
                <a style="display: none;" id="hFAStart" href="{% url 'userinfofa' %}" class="btn-buy">क्विज़ शुरू
                  करें</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" style="color: black; margin-top: 10px;">
          <div class="box" data-aos="fade-up" data-aos-delay="100">
            <h3 id="eGShead">CPR</h3>
            <p id="eGSDesc">
              Heart attack is the topmost cause of death. Maximum cases are between the age group of 30-45.
              When a person’s heart can stop beating due to a heart attack, electric shock, choking, or drowning. Then
              if CPR is given immediately, it could save the life and it also prevents complications like stroke,
              paraplegia, or quadriplegia.
              Knowledge of CPR teaches the right technique along with the concepts of Right Help and Early Help.
              The team of doctors at RADHEE understands the importance of CPR. Quiz is developed to improve your
              knowledge of CPR, which will help your near and dear ones at the time of distress. </p>
            <div class="btn-wrap">
              <a id="eGSStart" href="{% url 'userinfocpr' %}" class="btn-buy">Start Quiz</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/1.jpg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/2.jpg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/3.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/4.png' %}" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Radhee</h3>
            <p>
              11/11-B Jawahar Nagar, S.V. Road,<br>
              Goregaon (West), Mumbai 400062<br>
              Maharashtra, India<br><br>
              <strong>Phone:</strong> <a href="tel:+912228723801">+91 22 28723801</a><br>
              <strong>Email:</strong> <a href="mailto:info@radhee.com">info@radhee.com</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://radhee.com/" target="_blank">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://radhee.com/about-radhee/" target="_blank">About
                  us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://radhee.com/projects/"
                  target="_blank">Projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://radhee.com/contact-us/" target="_blank">Contact
                  Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://radhee.com/disclaimer/"
                  target="_blank">Disclaimer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://radhee.com/privacy-policy/"
                  target="_blank">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow Us:</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.facebook.com/RADHEE.Foundation"
                  target="_blank">Facebook</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.instagram.com/radheengo/"
                  target="_blank">Twitter</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.instagram.com/radheengo/"
                  target="_blank">Instagram</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.linkedin.com/in/radhee/"
                  target="_blank">Linkedin</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.youtube.com/user/RADHEEFoundation"
                  target="_blank">YouTube</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Skype</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <img src="{% static 'assets/img/logo.jpg' %}" width="300" height="300" />
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>2021</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          RADHEE Disaster and Education Foundation
        </div>
      </div>
      <!-- Name -->


      <div class="colg">
        MADE BY :- ANSARI MOHSIN AHMED, SAHIL BELNEKAR, KHAN KUTBUDDIN
        <br> FINAL YEAR STUDENTS OF M. H. SABOO SIDDIK POLYTECHNIC
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
    function hindi() {
      document.getElementById("lang").innerHTML = "Language: Hindi";
      document.getElementById("eGShead").style.display = "none";
      document.getElementById("eGSDesc").style.display = "none";
      document.getElementById("eGSStart").style.display = "none";
      document.getElementById("mGShead").style.display = "none";
      document.getElementById("mGSDesc").style.display = "none";
      document.getElementById("mGSStart").style.display = "none";

      document.getElementById("eFShead").style.display = "none";
      document.getElementById("eFSDesc").style.display = "none";
      document.getElementById("eFSStart").style.display = "none";

      document.getElementById("eFAhead").style.display = "none";
      document.getElementById("eFADesc").style.display = "none";
      document.getElementById("eFAStart").style.display = "none";

      document.getElementById("hGShead").style.display = "block";
      document.getElementById("hGSDesc").style.display = "block";
      document.getElementById("hGSStart").style.display = "block";

      document.getElementById("hFShead").style.display = "block";
      document.getElementById("hFSDesc").style.display = "block";
      document.getElementById("hFSStart").style.display = "block";

      document.getElementById("hFAhead").style.display = "block";
      document.getElementById("hFADesc").style.display = "block";
      document.getElementById("hFAStart").style.display = "block";

      document.cookie = "language=hindi;expires=Thu, 18 Dec 2026 12:00:00 UTC; path=/";
    }

    function english() {
      document.getElementById("lang").innerHTML = "Language: English";
      document.getElementById("hGShead").style.display = "none";
      document.getElementById("hGSDesc").style.display = "none";
      document.getElementById("hGSStart").style.display = "none";
      document.getElementById("mGShead").style.display = "none";
      document.getElementById("mGSDesc").style.display = "none";
      document.getElementById("mGSStart").style.display = "none";

      document.getElementById("hFShead").style.display = "none";
      document.getElementById("hFSDesc").style.display = "none";
      document.getElementById("hFSStart").style.display = "none";

      document.getElementById("hFAhead").style.display = "none";
      document.getElementById("hFADesc").style.display = "none";
      document.getElementById("hFAStart").style.display = "none";

      document.getElementById("eGShead").style.display = "block";
      document.getElementById("eGSDesc").style.display = "block";
      document.getElementById("eGSStart").style.display = "block";

      document.getElementById("eFShead").style.display = "block";
      document.getElementById("eFSDesc").style.display = "block";
      document.getElementById("eFSStart").style.display = "block";

      document.getElementById("eFAhead").style.display = "block";
      document.getElementById("eFADesc").style.display = "block";
      document.getElementById("eFAStart").style.display = "block";

      document.cookie = "language=english;expires=Thu, 18 Dec 2026 12:00:00 UTC; path=/";
    }

    function marathi() {
      document.getElementById("lang").innerHTML = "Language: Marathi";
      document.getElementById("hGShead").style.display = "none";
      document.getElementById("hGSDesc").style.display = "none";
      document.getElementById("hGSStart").style.display = "none";
      document.getElementById("eGShead").style.display = "none";
      document.getElementById("eGSDesc").style.display = "none";
      document.getElementById("eGSStart").style.display = "none";

      document.getElementById("mGShead").style.display = "block";
      document.getElementById("mGSDesc").style.display = "block";
      document.getElementById("mGSStart").style.display = "block";

      document.getElementById("hFShead").style.display = "none";
      document.getElementById("hFSDesc").style.display = "none";
      document.getElementById("hFSStart").style.display = "none";

      document.getElementById("hFAhead").style.display = "none";
      document.getElementById("hFADesc").style.display = "none";
      document.getElementById("hFAStart").style.display = "none";

      document.getElementById("eFShead").style.display = "block";
      document.getElementById("eFSDesc").style.display = "block";
      document.getElementById("eFSStart").style.display = "block";

      document.getElementById("eFAhead").style.display = "block";
      document.getElementById("eFADesc").style.display = "block";
      document.getElementById("eFAStart").style.display = "block";

      document.cookie = "language=marathi;expires=Thu, 18 Dec 2026 12:00:00 UTC; path=/";
    }

    function func() {
      document.cookie = "language=english;expires=Thu, 18 Dec 2026 12:00:00 UTC; path=/";
    }
  </script>

</body>

</html>